@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
/*
*INDEX 1
*/

body{
    margin: 0px;
    padding: 0px;
}

.bg{
    height: 100vh;
    background: url(./img/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.opacbg{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.142);
}

.nama{
    margin: 0px;
    font-size: 3vh;
    font-family: "Josefin Sans", serif;
    color: #fff;
    padding-top: 60px;
    padding-left: 120px;
}

.nama span{
    display: inline-block;
    font-size: 2rem;
    animation: wave 2s ease-in-out infinite;
}

.nama span:nth-child(1) {
    animation-delay: 0.1s;
}
.nama span:nth-child(2) {
    animation-delay: 0.2s;
}
.nama span:nth-child(3) {
    animation-delay: 0.3s;
}
.nama span:nth-child(4) {
    animation-delay: 0.4s;
}
.nama span:nth-child(5) {
    animation-delay: 0.5s;
}
.nama span:nth-child(6) {
    animation-delay: 0.6s;
}
.nama span:nth-child(7) {
    animation-delay: 0.7s;
}
.nama span:nth-child(8) {
    animation-delay: 0.8s;
}
.nama span:nth-child(9) {
    animation-delay: 0.9s;
}
@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
}

.kata{
    text-align: center;
    font-family: "Itim", serif;
    color: #fff;
    padding-top: 24vh;
    padding-left: 115vh;
    font-size: 2.2vh;
    text-shadow:0 0 4px #00000084;
}

.kata1{
    margin: 0px 0px;
}
.kata2{
    margin: 0px 0px;
}
.kata3{
    padding-top: 20px;
    margin: 0px 0px;
}

.kata4{
    padding-bottom: 40px;
    margin: 0px 0px;
}

.button{
    position: absolute; /* Agar tombol bisa ditempatkan bebas */
    bottom: 42vh; /* Jarak dari bawah */
    right: 24vh; /* Jarak dari kanan */
    background-color: #00fff3;
    font-family: "Josefin Sans", serif;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    margin: auto auto;
    width: 80px;
    font-size: 22px;
    box-shadow: 0px 4px 4px 0px #00000074;
}

.btn{
    text-decoration: none;
    color: #000;
}

/*
* ISI
*/

.bgisi{
    height: 100vh;
    background: url(./img/sunrise-blue-sky-panorama-early-morning-dawn-5k-3840x2160-3644.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.h1{
    margin: 0px;
    font-family: "Itim", serif;
    color: #fff;
    font-size: 6vh;
    text-align: center;
    padding-top: 2vh;
    text-shadow: 0 1.5px 0 #00000058;
    animation: fadeIn 2s ease-in-out normal;
}

.box{
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: center;
    animation: fadeIn 2s ease-in-out normal;
}

img{
    width: 95%;
    height: auto;
    display: block;
    margin: 18px auto;
    /* padding-top: 25px; */
    border-radius: 20px;
    object-fit: cover;
}

.square1, 
.square2{
    width: 300px;
    height: 320px;
    background-color: #d9d9d96b;
    margin-right: 140px;
    border-radius: 20px;
    transition: background-color 0.5s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.142);
    position: relative;
}
.square1:hover,
.square2:hover,
.square3:hover{
    width: 300px;
    height: 320px;
    background-color: #50B8E7;
    border-radius: 20px;
}
.square1:hover .box-img,
.square2:hover .box-img,
.square3:hover .box-img{
    opacity: 0;
    transition: opacity 0.5s;
}
.square3{
    width: 300px;
    height: 320px;
    background-color: #d9d9d96b;
    margin-right: 20px;
    border-radius: 20px;
    transition: background-color 0.5s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.142);
    position: relative;
}

.description {
    position: absolute; /* Posisi absolut agar bisa ditempatkan di dalam box */
    top: 5%; /* Jarak dari top box */
    left: 50%; /* Posisi horizontal di tengah */
    transform: translateX(-50%); /* Pusatkan secara horizontal */
    color: #fff; /* Warna teks */
    font-family: "Itim", serif; /* Font teks */
    font-size: 20px; /* Ukuran teks */
    text-align: center; /* Teks rata tengah */
    opacity: 0; /* Awalnya disembunyikan */
    transition: opacity 0.5s; /* Efek transisi halus */
    width: 80%;
}

/* Saat box di-hover, tampilkan deskripsi */
.square1:hover .description,
.square2:hover .description,
.square3:hover .description {
    opacity: 1; /* Munculkan deskripsi */
}

.tombol{
    position: absolute; /* Agar tombol bisa ditempatkan bebas */
    bottom: 44vh; /* Jarak dari bawah */
    right: 3vh; /* Jarak dari kanan */
    background-color: #84ccee83;
    font-family: "Josefin Sans", serif;
    padding: 10px 10px 10px 20px;
    border-radius: 50px;
    margin: auto auto;
    width: 90px;
    font-size: 14px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.142);
}

.klik{
    text-decoration: none;
    color: #000;
}

/* 
xixi 
*/

.button1{
    position: absolute; /* Agar tombol bisa ditempatkan bebas */
    bottom: 42vh; /* Jarak dari bawah */
    right: 24vh; /* Jarak dari kanan */
    background-color: #00fff3;
    font-family: "Josefin Sans", serif;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    margin: auto auto;
    width: 80px;
    font-size: 22px;
    box-shadow: 0px 4px 4px 0px #00000074;
}

.button3{
    text-decoration: none;
    color: #000;
}